Ipython because Brad is super gay for it now

In [2]:
import numpy as np
import pandas as pd
import os

This all assumes the raw data has been extracted to KaggleStocks/data_raw/

In [19]:
data_prices = pd.read_csv('../data_raw/prices.csv')

In [20]:
data_prices.head(5)

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [21]:
def symbol_lookup(symbol):
    return data_prices[data_prices['symbol']==symbol]

def symbol_open(symbol):
    tmp = symbol_lookup(symbol)
    return tmp['open']

def symbol_open(symbol):
    tmp = symbol_lookup(symbol)
    return tmp['close']

def date_loopop(date):
    return data_prices['date']

symbol_open('WLTW')

0      125.839996
1      119.980003
2      114.949997
3      116.620003
4      114.970001
5      115.550003
6      112.849998
7      114.379997
8      112.529999
9      110.379997
10     109.300003
11     110.000000
12     111.949997
13     110.120003
14     111.000000
15     110.709999
16     112.580002
17     114.470001
18     114.500000
19     110.559998
20     114.050003
21     115.709999
22     114.019997
23     111.160004
24     110.650002
25     107.519997
26     107.129997
27     107.839996
28     110.769997
29     111.239998
          ...
221    124.599998
222    124.820000
223    123.889999
224    124.820000
225    124.559998
226    125.300003
227    124.370003
228    124.379997
229    124.370003
230    121.419998
231    119.940002
232    121.480003
233    124.760002
234    124.750000
235    123.000000
236    122.790001
237    121.209999
238    124.459999
239    122.260002
240    122.370003
241    122.330002
242    123.629997
243    123.839996
244    122.989998
245    122.849998
246    124.489998
247    124.279999
248    122.379997
249    122.169998
250    122.279999
Name: close, dtype: float64

In [22]:
data_prices.keys()

Index(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')