# Using Kaggle Stock Data for NN Training

In [1]:
import numpy as np
import pandas as pd
import os

This all assumes the raw data has been extracted to KaggleStocks/data_raw/

## Importing Daily Data

In [2]:
data_prices = pd.read_csv('../data_raw/prices-split-adjusted.csv')
data_prices.head(5)

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [7]:
def symbol_lookup(symbol):
    return data_prices[data_prices['symbol']==symbol]

def symbol_open(symbol):
    tmp = symbol_lookup(symbol)
    return tmp['open']

def symbol_open(symbol):
    tmp = symbol_lookup(symbol)
    return tmp['close']

def date_lookup(date):
    return data_prices[data_prices['date']==date]

In [4]:
data_prices['date'] = pd.to_datetime(data_prices['date'])
min_date = data_prices['date'].min()
data_prices['date'] = (data_prices['date']-min_date) / np.timedelta64(1,'D')

In [14]:
symbol_map= dict()
ii=0
for symbol in data_prices['symbol'].unique():
    symbol_map[symbol]=ii
    ii= ii+1

Now we need to build our dictionary of data, i.e. a dictionary where symbols are the keys and a 2D data array is the value.

In [ ]:
yahoo = data_prices[data_prices['symbol']=='YHOO']
yahoo.head(5)

In [ ]:
yahoo.as_matrix(['date', 'open', 'close', 'low', 'high', 'volume']).shape

In [ ]:
indices_list = ['date', 'open', 'close', 'low', 'high', 'volume']
data_dict = dict()
for symbol in data_prices['symbol'].unique():
    data_dict[symbol]=symbol_lookup(symbol).as_matrix(indices_list)

In [ ]:
data_dict['YHOO'].shape

## Importing Yearly Fundamentals

In [ ]:
data_fund = pd.read_csv('../data_raw/fundamentals.csv')
data_fund.head(5)

In [ ]:
def fund_lookup(symbol):
    return data_fund[data_fund['Ticker Symbol']==symbol]

In [ ]:
data_fund.keys()

In [ ]:
data_fund['Period Ending'] = pd.to_datetime(data_fund['Period Ending'])
data_fund['Period Ending'] = (data_fund['Period Ending']-min_date) / np.timedelta64(1,'D')