# Using Kaggle Stock Data for NN Training

In [1]:
import numpy as np
import pandas as pd
import os

This all assumes the raw data has been extracted to KaggleStocks/data_raw/

In [2]:
data_prices = pd.read_csv('../data_raw/prices-split-adjusted.csv')
data_prices.head(5)

           symbol        open       close         low        high     volume
date
2016-01-05   WLTW  123.430000  125.839996  122.309998  126.250000  2163600.0
2016-01-06   WLTW  125.239998  119.980003  119.940002  125.540001  2386400.0
2016-01-07   WLTW  116.379997  114.949997  114.930000  119.739998  2489500.0
2016-01-08   WLTW  115.480003  116.620003  113.500000  117.440002  2006300.0
2016-01-11   WLTW  117.010002  114.970001  114.089996  117.330002  1408600.0

In [3]:
yahoo=data_prices[data_prices['symbol']=='YHOO']
yahoo.head(5)

           symbol       open      close        low       high      volume
date
2010-01-04   YHOO  16.940001  17.100000  16.879999  17.200001  16587400.0
2010-01-05   YHOO  17.219999  17.230000  17.000000  17.230000  11718100.0
2010-01-06   YHOO  17.170000  17.170000  17.070000  17.299999  16422000.0
2010-01-07   YHOO  16.809999  16.700001  16.570000  16.900000  31816300.0
2010-01-08   YHOO  16.680000  16.700001  16.620001  16.760000  15470000.0

In [4]:
def symbol_lookup(symbol):
    return data_prices[data_prices['symbol']==symbol]

def symbol_open(symbol):
    tmp = symbol_lookup(symbol)
    return tmp['open']

def symbol_open(symbol):
    tmp = symbol_lookup(symbol)
    return tmp['close']

def date_loopop(date):
    return data_prices['date']

symbol_open('WLTW')

date
2016-01-05    125.839996
2016-01-06    119.980003
2016-01-07    114.949997
2016-01-08    116.620003
2016-01-11    114.970001
2016-01-12    115.550003
2016-01-13    112.849998
2016-01-14    114.379997
2016-01-15    112.529999
2016-01-19    110.379997
2016-01-20    109.300003
2016-01-21    110.000000
2016-01-22    111.949997
2016-01-25    110.120003
2016-01-26    111.000000
2016-01-27    110.709999
2016-01-28    112.580002
2016-01-29    114.470001
2016-02-01    114.500000
2016-02-02    110.559998
2016-02-03    114.050003
2016-02-04    115.709999
2016-02-05    114.019997
2016-02-08    111.160004
2016-02-09    110.650002
2016-02-10    107.519997
2016-02-11    107.129997
2016-02-12    107.839996
2016-02-16    110.769997
2016-02-17    111.239998
                 ...
2016-11-17    124.599998
2016-11-18    124.820000
2016-11-21    123.889999
2016-11-22    124.820000
2016-11-23    124.559998
2016-11-25    125.300003
2016-11-28    124.370003
2016-11-29    124.379997
2016-11-30    124.370003
2016-12-01    121.419998
2016-12-02    119.940002
2016-12-05    121.480003
2016-12-06    124.760002
2016-12-07    124.750000
2016-12-08    123.000000
2016-12-09    122.790001
2016-12-12    121.209999
2016-12-13    124.459999
2016-12-14    122.260002
2016-12-15    122.370003
2016-12-16    122.330002
2016-12-19    123.629997
2016-12-20    123.839996
2016-12-21    122.989998
2016-12-22    122.849998
2016-12-23    124.489998
2016-12-27    124.279999
2016-12-28    122.379997
2016-12-29    122.169998
2016-12-30    122.279999
Name: close, dtype: float64

In [5]:
data_prices.keys()

Index(['symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')